<div
  id="image-crop"
  style="
    width: 70vw;
    height: 70vh;
    position: absolute;
    border: 1px solid blue;
    z-index: 4;
    display: none;
  ">
  <img id="crpImg" src="" alt="crop image" />
  <button id="crop-submit">submit</button>
</div>

<section class="content-main">
  <form
    id="productForm"
    action="/admin/product/add-product"
    method="post"
    enctype="multipart/form-data">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Add New Product</h2>
          <div>
            <button type="submit" class="btn btn-md rounded font-sm hover-up">
              Publish
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <label for="product_name" class="form-label">Product title</label>
              <input
                type="text"
                maxlength="100"
                name="productname"
                placeholder="Type here"
                class="form-control"
                id="productName" />
            </div>
            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea
                id="description"
                maxlength="300"
                name="description"
                placeholder="Type here"
                class="form-control"
                rows="4"></textarea>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <div class="row gx-2">
                    <input
                      placeholder="$"
                      min="1"
                      max="20000"
                      minlength="1"
                      id="price"
                      name="price"
                      type="number"
                      class="form-control" />
                  </div>
                </div>

                <div class="mb-4">
                  <label class="form-label">stock</label>
                  <div class="row gx-2">
                    <input
                      placeholder="stock"
                      min="1"
                      max="300"
                      id="stock"
                      name="stock"
                      type="number"
                      class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Images</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <div id="images" style="display: flex; gap: 9px"></div>
              <button type="button" id="crpBtn" style="display: none">
                crop
              </button>
              <img src="admin-assets/imgs/theme/upload.svg" alt="" />
              <input
                id="fileInput"
                class="form-control"
                name="images"
                type="file"
                multiple />
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h4>category</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select name="productCategory" class="form-select">
                  <option value="1" disabled selected>Choose Category</option>
                  <% data.forEach(cat=>{ %>

                  <option value="<%=cat._id -%>">
                    <%= cat.productCategory -%>
                  </option>
                  <% }) %>
                </select>
              </div>
            </div>
            <!-- row.// -->
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Category Offer</label>
                <select name="productCategory" class="form-select">
                  <option value="1" disabled selected>
                    Choose Category Offer
                  </option>
                </select>
              </div>
            </div>
          
          </div>
        </div>


        <div class="card mb-4">
          <div class="card-header">
            <h4>Product Offers</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Product Offer</label>
                <select name="offer" class="form-select">
                  <option value="1" disabled selected>
                    Choose Category Offer
                  </option>
                  <% productOffers.forEach((offer,index)=>{ %>
                  <option value="<%=offer._id %>">
                    <%=offer.offertitle %>
                  </option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>


<script>
  const productForm = document.getElementById("productForm");
  const productNameInput = document.getElementById("productName");
  const productCategorySelect = document.querySelector(
    'select[name="productCategory"]'
  );
  const descriptionInput = document.getElementById("description");
  const priceInput = document.getElementById("price");
  const stockInput = document.getElementById("stock");
  const imagesInput = document.querySelector('input[type="file"]');

  let imageToSent=[];
  let productname;
  let productCategory;
  let description;
  let stock;
  let price;

  const imageContainer = document.getElementById("images");


  let imageCount = 0;

  imagesInput.addEventListener("input", function (event) {
    let img = imagesInput.files;

    while (imageContainer.firstChild) {
      imageContainer.removeChild(imageContainer.firstChild);
    }

    const curFiles = imagesInput.files;

    if (curFiles.length === 0) {
      const para = document.createElement("p");
      para.textContent = "No files currently selected for upload";
      imageContainer.appendChild(para);
    } else {
      const list = document.createElement("ol");
      imageContainer.appendChild(list);

      for (const file of curFiles) {
        const listItem = document.createElement("li");
        const para = document.createElement("p");
        if (true) {
          para.textContent = `File name ${
            file.name
          }, file size ${returnFileSize(file.size)}.`;
          const image = document.createElement("img");

           const btn = document.createElement("button");

          image.src = URL.createObjectURL(file);
          image.setAttribute("id", "previewImg");
          btn.setAttribute("id", "crp-btn");
          btn.textContent = "Crop Button";
          btn.type = "button";
          btn.style.display="none"

          imageToSent=document.querySelectorAll('#previewImg')
          console.log(imageToSent)
          image.addEventListener("click", function () {
            cropImg(image, btn);
          });

          listItem.appendChild(image);
          listItem.appendChild(btn);
          listItem.appendChild(para);
        } else {
          para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
          listItem.appendChild(para);
        }

        list.appendChild(listItem);
      }
    }
  });

  function validateFiles(input) {
    return true
    const file = input;
    console.log('fileeee')
    console.log(file.type)
    

    const fileType = file.type;
      console.log(file)
    if (fileType.startsWith("image/")) {

      console.log(`File ${file.name} is an image.`);
      return true;
    } else {
  
      console.log(`File ${file.name} is not an image.`);
      return false;
    }

  }

  function returnFileSize(number) {
    if (number < 1024) {
      return `${number} bytes`;
    } else if (number >= 1024 && number < 1048576) {
      return `${(number / 1024).toFixed(1)} KB`;
    } else if (number >= 1048576) {
      return `${(number / 1048576).toFixed(1)} MB`;
    }
  }

  productForm.addEventListener("submit", function (event) {
    let isValid = true;

    productNameInput.classList.remove("is-invalid");
    productCategorySelect.classList.remove("is-invalid");
    descriptionInput.classList.remove("is-invalid");
    priceInput.classList.remove("is-invalid");
    stockInput.classList.remove("is-invalid");
    imagesInput.classList.remove("is-invalid");

    console.log(productNameInput);
  
    if (productNameInput.value.trim() === "") {
      isValid = false;
      productNameInput.classList.add("is-invalid");
    }else{
      productname=productNameInput.value
    }

    if (productCategorySelect.value === "1") {
      isValid = false;
      productCategorySelect.classList.add("is-invalid");
    }else{
     productCategory= productCategorySelect.value
    }

    if (descriptionInput.value.trim() === "") {
      isValid = false;
      descriptionInput.classList.add("is-invalid");
    }else{
      description=descriptionInput.value
    }

    if (
      isNaN(stockInput.value) ||
      parseInt(stockInput.value) < 0 ||
      priceInput.value.trim() === ""
    ) {
      isValid = false;
      stockInput.classList.add("is-invalid");
    }else{
      stock=stockInput.value
    }

    if (
      isNaN(priceInput.value) ||
      parseInt(priceInput.value) < 0 ||
      priceInput.value.trim() === ""
    ) {
      isValid = false;
      priceInput.classList.add("is-invalid");
    }else{
      price=priceInput.value
    }

     if(!validateFiles(imagesInput)){
 
      isValid = false;
      imagesInput.classList.add("is-invalid");
    }

    if (imagesInput.files.length === 0) {
      isValid = false;
      imagesInput.classList.add("is-invalid");
    }

    if (!isValid) {
      console.log("prevent")
      event.preventDefault(); 
    }

    

 
  

    

 });




</script>





<script src="/cropperjs/cropper.min.js" type="text/javascript"></script>
<script src="/javascript/cropper.js"></script>
<script src="/javascript/toast.js" type="text/javascript"></script>
