<main>

	<section class="content-main mt-80 mb-80 mt-80" >
		<div class="card mx-auto card-login" style="margin-top: 100px;">
			<div class="card-body" style="background-color: rgb(196, 193, 193);">
				<h4 class="card-title mb-4">Change Password</h4>
				<form id="changePassword" action="/admin/change-password" method="post">
					 <p id="err" style="color: red;"><%=req.query.err -%></p> 

					<div class="mb-3">
						<input id="newPassword" class="form-control" id="typeEmailX" name="newPassword" placeholder="Enter Your New Password" type="password">
					</div> 
					<p id="emailError" style="color: red;"></p>
                    <input type="text" name="email" value="<%=req.query.email -%>" name="" id="" hidden>

                    <div class="mb-3">
						<input id="reEnteredPassword" class="form-control" id="typeEmailX" name="reEnteredPassword" placeholder="Enter Your New Password" type="password">
					</div>
					<p id="emailError" style="color: red;"></p>
                    
					<div class="mb-4">
						<button type="submit" class="btn btn-primary w-100"> submit </button>
					</div>
				</form>
		</div>
	</section>
</main>

<script>
    const submitForm = document.querySelector('#changePassword');
    const newPassword=document.querySelector('#newPassword')
    const reEnteredPassword=document.querySelector('#reEnteredpassword')
    const err=document.getElementById('err')


  function validatePassword(password) {
    const passwordPattern=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%]).{8,24}$/;

    return passwordPattern.test(password)
  }

  const passwords=document.querySelectorAll('input[type="password"]')
  let isPasswordValid;
 passwords.forEach(password=>{
    password.addEventListener('input',function(){
        if(!validatePassword(password.value)){
           password.style.border="1px solid red"
           isPasswordValid=false
        }else{
            password.style.border="1px solid green"
            isPasswordValid=true
        }
    })
 })


 submitForm.addEventListener('submit',function(event){

    if(newPassword.value!=reEnteredPassword.value){
        err.textContent="both passwords should be equal"
        event.preventDefault()
       
    }
    if(!isPasswordValid){
        event.preventDefault()
    }
 })

 

</script>

