<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="" class="logo" >
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/admin-home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/product/add-product">Add Product</a>
                    <a href="/admin/view-products">View Products</a>
                   
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin/view-orders">View Orders</a>
                    <a href="/admin/returned-products">Returned Products</a>

                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Coupon</span>
                </a>
                <div class="submenu">
                    <a href="/admin/add-coupon">Add Coupon</a>
                    <a href="/admin/view-coupon">View Coupon</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Categories</span>
                </a>
                <div class="submenu">
                    <a href="/admin/add-category">Add Categories</a>
                    <a href="/admin/category/view-category">View Categories</a>

                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin/view-users?page=0">View Users</a>
                    
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Offers</span>
                </a>
                <div class="submenu">
                    <a href="/admin/add-offers">Add Offers</a>
                    <a href="/admin/view-offers">View Offers</a>
                   
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" > <i class="icon material-icons md-comment"></i>
                    <span class="text">Banner</span>
                </a>
                <div class="submenu">
                    <a href="/admin/banner-management">Banner Management</a>
                   
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link"  > <i class="icon material-icons md-comment"></i>
                    <span class="text">Sales Report</span>
                </a>
                <div class="submenu">
                    <a href="/admin/sales-report?page=0">View Sales Report</a>
                   
                </div>
            </li>

            

            <li class="menu-item">
                <a class="menu-link" href="/admin/admin-logout"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Logout</span> </a>
            </li>
        </ul>
        <hr>

        <br>
        <br>
    </nav>
</aside>