<style>
    .is-invalid{
        border: 1px solid red;
        color: red;
    }
</style>


<div class="form-w3ls" style="margin-top: 200px; background-color: rgb(205, 204, 204);border-radius: 15px;">

    <ul class="tab-group cl-effect-4" style="margin-left: 250px;">
        <li class="tab active"><a href="#signin-agile">Forgot password?</a></li>
    </ul>
    <div class="">
        <div id="signin-agile">   
			<form action="/change-password" method="post" id="changePassword" >
				
					
                <h2 id="err" style="color: red; margin-left: 230px;"></h2>


                <p class="header">Enter New Password</p>
				<input type="password" style="border: 1px solid black;" name="newPassword" id="newPassword" placeholder="New Password"   >
				<% console.log(req.query.email) %>
                <input type="text" name="email" value="<%=req.query.email -%>" name="" id="" hidden>
                <p class="header">Re-Enter New Password</p>
				<input type="password" style="border: 1px solid black;" id="reEnteredpassword" placeholder="Re-Enter New Password"   >
				
				
				
				<input type="submit" style="background-color: black;color: white;margin-bottom: 30px;" class="sign-in" value="Submit">
			</form>
		</div>

		
    </div>
</div>	  



<script>
    const submitForm = document.querySelector('#changePassword');
    const newPassword=document.querySelector('#newPassword')
    const reEnteredPassword=document.querySelector('#reEnteredpassword')
    const err=document.getElementById('err')


  function validatePassword(password) {
    const passwordPattern=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%]).{8,24}$/;

    return passwordPattern.test(password)
  }

  const passwords=document.querySelectorAll('input[type="password"]')
  let isPasswordValid;
 passwords.forEach(password=>{
    password.addEventListener('input',function(){
        if(!validatePassword(password.value)){
           password.style.border="1px solid red"
           isPasswordValid=false
        }else{
            password.style.border="1px solid green"
            isPasswordValid=true
        }
    })
 })


 submitForm.addEventListener('submit',function(event){

    if(newPassword.value!=reEnteredPassword.value){
        err.textContent="both passwords should be equal"
        event.preventDefault()
        console.log(err)
    }
    if(!isPasswordValid){
        event.preventDefault()
    }
    toast('password changed successfully')
 })

 
 
</script>

<script src="/javascript/toast.js"></script>