
<div class="form-w3ls" style="margin-top: 200px; background-color: rgb(231, 225, 225);padding-bottom: 50px;border-radius: 20px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">

    <ul class="tab-group cl-effect-4" style="margin-left: 170px;">
        <li class="tab active"><a href="#signin-agile">Sign In</a></li>
		<li class="tab"><a href="#signup-agile">Sign Up</a></li>        
    </ul>
    <div class="tab-content">
        <div id="signin-agile">   
			<form action="/user-login" method="post" id="loginform" >
				
					<h2 style="color: red; margin-left: 170px;"><%= req.query.isValid %></h2>
			
				<p class="header" style="margin-top: 10px;">Email</p>
				
				<span id="emailError" style="color: red;margin-top: 20px;"></span>
				<input type="text" name="email"  style="border: 1px solid black;" id="typeEmailX" placeholder="email"   >

				<p class="header" style="margin-top: 10px;">Password</p>
				<input type="password" id="typePasswordX"  style="border: 1px solid black;" name="password" placeholder="Password">
				<div id="passwordError" style="color: red;margin-bottom: 10px;"></div>
				
				<span><a href="/otp-login" style="color: black;">Login With OTP ?</a></span>
				<span style="margin-left: 350px;"><a href="/forgot-password"  style="color: black;">Forgot Password ?</a></span>
				<input type="checkbox" id="brand" value="">
				
				<input  style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: black;color: white;
				" type="submit" class="sign-in rainbow" value="Sign In">
			</form>
		</div>

		<div id="signup-agile">   
			<form action="/user-signup" method="post" id="signupForm">
				
				<p class="header">User Name</p>
				<p style="color: red; position: relative; top: 20px;" id="usernameErr"></p>
				<input type="text" id="username" style="border: 1px solid black;" name="username" placeholder="Your Full Name">
				
				<p class="header">Email Address</p>
				<p style="color: red; position: relative; top: 20px;" id="emailErr"></p>
				<input type="email" id="signupEmail" name="email" style="border: 1px solid black;" placeholder="Email">
				
				
				<p class="header">Password</p>
				<p style="color: red; position: relative; top: 20px;margin-bottom: 3px;" id="passwordErr"></p>
				<input type="password" id="signupPassword"  style="border: 1px solid black;" name="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="required">
				
				<p class="header">Confirm Password</p>
				<input type="password" id="signupRePassword"  style="border: 1px solid black;" name="password" placeholder="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="required">
				
				<input type="submit" style="background-color: black;color: white;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				"  class="register rainbow"  value="Sign up">
			</form>
		</div> 
    </div>
</div>   




<script src="javascript/loginValidations.js"></script>
<script src="javascript/signupValidation.js"></script>

