

		<div class="colorlib-product">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="featured" style="background-color: #49a4d2;width: 100%;height: 800px;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                            <h1 style="color: white;">Order Placed Successfully</h1>
                            <h4 style="color: white;">You can go to View Order to Check Order</h4>
                            <div>
                               <a href="/view-orders"> <button style="width: 150px;margin-right:10px ;height: 50px;">View Order</button></a>
                                <a href="/home"><button style="width: 150px;height: 50px;">Return To Home</button></a>
                            </div>

						</div>
					</div>

				</div>
			</div>
		</div>

<script>
	localStorage.removeItem('coupon')
</script>