<div class="form-w3ls" style="margin-top: 200px;background-color: rgb(189, 189, 189);border-radius: 15px;">

    <ul class="tab-group cl-effect-4" style="margin-left: 250px;">
        <li class="tab active"><a href="#signin-agile">Verify OTP</a></li>
    </ul>
    <div class="">
        <div id="signin-agile">   
			<form action="/verify-otp-fg" method="post" id="loginform" >
				
					<h2 style="color: red; margin-left: 270px;"><%= req.query.err -%></h2>
					<%if(req?.err){ %>
						<h2 style="color: red; margin-left: 270px;"><%=req?.err -%></h2>
					<% }%>

				<p class="header">OTP</p>
				
				<input type="text" style="border:1px solid black;"  name="otp" id="typeEmailX" placeholder="otp"   >
				
				
				
				<input type="submit" style="background-color: black;color: white;margin-bottom: 30px;" class="sign-in" value="Submit">
			</form>
		</div>

		
    </div>
</div>   
